* {
  font-family: sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

p {
  font-size: smaller;
}

.card {
  border: 1px solid black;
  height: 170px;
  width: 250px;
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
