.container {
  height: 30px;
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.progress {
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translateX(-1000%);
  background-color: green;
}
