* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.left-btn,
.right-btn {
  color: white;
  background-color: black;
  position: absolute;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 10px;
  top: 50%;
  cursor: pointer;
}

.left-btn {
  left: 0.5rem;
}
.right-btn {
  right: 0.5rem;
}

img {
  height: 400px;
  width: 100%;
}
