.qna {
  border: 1px solid black;
  padding: 0.5rem;
  margin: 0.5rem 0;
  position: relative;
}

.qna__ans {
  margin-top: 0.5rem;
  font-size: 16px;
}

.qna__plus {
  position: absolute;
  right: 0.5rem;
  top: 0;
  cursor: pointer;
}
