.container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px auto;
  width: 300px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 20px;
  text-align: left;
}

input {
  height: 30px;
  font-size: 16px;
  padding-left: 0.5rem;
  border-radius: 5px;
}
input:focus {
  outline: none;
}

button {
  height: 30px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  background-color: lightblue;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: blue;
}

.error {
  margin-top: -5px;
  text-align: left;
  font-size: 12px;
  color: red;
}

.error-border {
  border: 1px solid red;
}
