.dragAndDrop {
  display: flex;
  justify-content: space-between;
}

.dragAndDrop__container {
  background-color: #f0f0f0;
  padding: 1rem;
  min-height: 300px;
  border: 1px solid white;
}

.dragAndDrop_item {
  user-select: none;
  padding: 1rem;
  margin: 8px 0;
  border-radius: 10px;
  background-color: white;
  cursor: move;
}
