.App {
  font-family: sans-serif;
  text-align: center;
}

input {
  height: 2rem;
  width: 2rem;
  margin: 1rem;
  padding-left: 0.7rem;
  font-size: large;
}

input:focus {
  outline: none;
}

span {
  font-size: larger;
  font-weight: bold;
}
