.App {
  font-family: sans-serif;
  text-align: center;
}

.board-container {
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.circle {
  position: absolute;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
