.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  height: 30px;
  width: 250px;
  font-size: large;
  padding-left: 0.5rem;
}

.calculator-btns {
  display: grid;
  margin: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

button {
  background-color: aquamarine;
  padding: 1rem;
  margin: 0.5rem;
  font-size: large;
  border-radius: 5px;
}
