.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  background-color: #2c3e50;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;
}

button:active {
  transform: scale(0.9);
}

.chart-container {
  width: 80%;
  height: 500px;
  position: relative;
}

.chart {
  width: 100%;
  height: 100%;
  border: 1px solid #414141;
  border-right: 0;
  border-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
}

.y-axis-label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-weight: bold;
  margin-left: -10px;
}

.x-axis-label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  margin-top: 5px;
}

.bar {
  cursor: pointer;
  flex: 1;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tooltip {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -120%);
  background-color: black;
  color: white;
  font-size: small;
  padding: 0.25rem;
  border-radius: 4px;
  opacity: 0;
  z-index: 10;
  transition: opacity 0.4s ease-in-out;
}
.bar:hover .tooltip {
  opacity: 1;
}

.y-axis {
}

.x-axis {
}
