.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 20px;
  margin-bottom: 1rem;
}

.wrapper {
  position: relative;
  width: 100%;
}

.trigger {
  border: 2px solid;
  border-radius: 5px;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5rem;
  justify-content: space-between;
}

.placeholder {
  color: gray;
  font-size: 14px;
}

.trigger:hover {
  border-color: #007bff;
}

.selected-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex: 1;
}

.tag {
  font-size: 12px;
  background-color: #007bff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: white;
  padding: 0.3rem;
  button {
    background-color: #007bff;
    margin-left: 0.5rem;
    cursor: pointer;
    color: white;
    border: none;
    padding: 0;
  }
}

.action-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 0.3rem;
}

.dropdown {
  position: absolute;
  width: 100%;
  margin-top: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  padding-left: 10px;
  border-radius: 6px 6px 0 0;
  box-sizing: border-box;
}

.search-input:focus {
  outline: none;
  border-bottom-color: #007bff;
}

.options-list {
  max-height: 240px;
  overflow-y: auto;
}

.option {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 12px;
  cursor: pointer;
  /* border-bottom: 1px solid #eee; */
}

.option-selected {
  background-color: #f0f8ff;
}

.option-selected:hover {
  background-color: #e6f3ff;
}

.option:hover {
  background: #f5f5f5;
}
