.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.left-items {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
}

.item {
  background-color: lightblue;
  margin: 10px 10px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.right-items {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 200px;
}

.checked {
  background-color: black;
  color: white;
}

.action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

button {
  font-size: large;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}
