.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.lightbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  margin-top: 10px;
}

.img-container {
  cursor: pointer;
  height: 200px;
  width: 200px;
  padding: 2px;
}

.img-container.active {
  border: 2px solid blue;
  border-radius: 5px;
}

.img-container img {
  height: 100%;
  width: 100%;

  border-radius: 5px;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  position: fixed;
  height: 400px;
  width: 500px;
  border: 1px solid;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: relative;
}

.modal-container img {
  height: 100%;
  width: 100%;
  padding: 2rem;
  border-radius: 5px;
}

.modal-container button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 0.5rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.modal-container span {
  position: absolute;
  top: 50%;
  font-size: 1rem;
  font-weight: bold;
  background-color: black;
  color: white;
  padding: 0 0.5rem;
  cursor: pointer;
}
.left {
  left: 0.5rem;
}
.right {
  right: 0.5rem;
}

.modal-container button:active {
  transform: scale(0.9);
}

.modal-overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vh;
  background-color: transparent;
}
