/* Modal */

.button {
  border-radius: 10px;
  border: solid 1px black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  min-width: max-content;
  background: white;
  padding: 2rem;
  border-radius: 8px;
}

.heading-container {
  display: flex;
  gap: 0.5rem;
}

.header {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.content {
  margin-top: 10px;
  border: 1px solid;
  height: 300px;
}

.btn {
  display: flex;
  justify-content: center;
}

.active {
  text-decoration: underline;
}

/* Progress */
.outer {
  margin: 10px 0;
  border: 1px solid;
  border-radius: 20px;
  overflow-x: hidden;
}

.inner {
  background-color: green;
  color: white;
  /* width: 70% */
  transition: 0.5s ease-in;
}

.text {
  visibility: hidden;
}

/* accordion */
.accordion {
  align-items: center;
  width: 400px;
  margin: 1rem;
}

.accordion-header {
  cursor: pointer;
  display: flex;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}

.underline:hover {
  text-decoration: underline;
}

.rotate {
  transform: rotate(180deg);
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  font-size: 14px;
  margin: 0.2rem 0;
}

.accordion-content.open {
  max-height: 200px;
  margin: 0.2rem 0;
}

/* OTP */
.otp-input {
  height: 50px;
  width: 50px;
  margin: 5px;
  text-align: center;
  font-size: 36px;
  border-color: black;
}

.otp-input:focus {
  outline: none;
}

.otp-input.first {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.otp-input.last {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-div {
  margin-top: 20px;
}

.btn {
  background-color: rgba(1, 1, 1, 0.6);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.btn.active {
  background-color: rgba(1, 1, 1, 1);
}

/* toast */

.toast-container {
  position: fixed;
  width: 15rem;
  top: 0.5rem;
  right: 0.5rem;
}

.toast {
  color: white;
  margin: 1rem;
  width: 12rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  animation: slide 1s ease-in;
  span {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
  }
}

.toast.success {
  background-color: green;
}

.toast.error {
  background-color: red;
}

.toast.warning {
  background-color: #ffc107;
}

.toast.info {
  background-color: blue;
}

@keyframes slide {
  0% {
    transform: translate(100%);
  }
  100% {
    transform: translate(0);
  }
}

/* pagintion */

.container {
}

.container > h1 {
  width: 695px;
  height: 221px;
  text-align: center;
}

.post-container {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
}

.post-container > img {
  height: 180px;
  width: 120px;
  border-radius: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

.pagination > button {
  margin: 0 5px;
}

.pagination > button:hover {
  transform: scale(1.2);
}

.active {
  background-color: black;
  color: white;
}
