.emi {
  font-family: sans-serif;
  text-align: center;
}

.emi__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 300px;
}

.emi__inputs > label {
  font-size: 20px;
}
.emi__inputs > input {
  height: 30px;
  font-size: 20px;
  padding-left: 0.5rem;
  width: 500px;
}

.output {
  font-size: 20px;
  font-weight: 500;
}
